h1 {
  color: green;
}

.note {
  padding-top: 3px;
  font-size: 15px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.important {
  font-weight: bold;
  font-style: italic;
}

.note button {
  margin-left: 0.5em;
}